.leftBar {
    background-color: #1a1a1a;
    grid-area: l;
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    color: white;
    height: 555px;
}

.item {
    margin: 4px 10px;
    font-size: 22px;
    font-weight: 500;
}

/*NavLink*/
.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: red;
}

.item:first-child {
    margin-top: 8px;
}

.item:last-child {
    margin-top: 15px;
    margin-bottom: 8px;
}



