.header {
    grid-area: h;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: #1a1a1a;
}

.logo {
    margin-top: 8px;
    display: flex;
}

.img_logo {
    width: 50px;
    height: 55px;
    margin: 0;
}

.name_logo {
    font-style: italic;
    font-size: 25px;
}

.loginBlock a {
    color: white;
}