.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;
}

.items {

}

.items .active {
    color: red;
}

.item a{
    color: white;
    text-decoration: none;
}

.messages {

}