.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-gap: 10px;
    color: white;
    width: 100%;
    height: 100%;
}

.items {
    background-color: #1a1a1a;
    color: white;
    padding: 10px;
    align-items: center;
}

.item {
    margin-bottom: 5px;
    background-color: coral;
    font-size: 26px;
    padding: 5px;

}

.item a {
    display: flex;
    align-items: center;
}

.item .active {
    color: red;
}

.item a {
    color: white;
    text-decoration: none;
}

.messages {
    background-color: #1a1a1a;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
    background-color: royalblue;
    padding: 5px;
}

.avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.send_wrapper {
    display: flex;
    align-items: end;
}

.send_wrapper textarea {
    width: 100%;
    margin-top: 10px;
    margin-right: 10px;
}

.send_wrapper button {
    height: 37px;
}
